<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BuildNotesTemplateContent" value="BuildTemplateContent.docx"/>
    <add key="BuildNotesTemplateCover" value="BuildTemplateCover.docx"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
